{% extends 'base.html.twig' %}

{% block content %}
  <!-- Resto del contenido de la plantilla -->

  <!-- Actividades -->
  <div class="grid grid-cols-3 gap-8 mt-4">
  <p class=" style="color: white;"" >
  </p>
    {% for activity in activities %}
    <div class="bg-white rounded-lg shadow p-4">
      <!-- Imagen y título de la actividad -->
      <img src="{{ asset('images/' ~ activity.name) }}" alt="{{ activity.name }}" class="h-32 w-5/12">
      <h3 class="text-xl font-bold mt-4">{{ activity.name }}</h3>

      <!-- Otras propiedades de la actividad -->
      <p>Duración: {{ activity.duration }} horas</p>
      <p>Precio: {{ activity.price }} euros</p>

      <!-- Botón de reserva -->
      <button class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Reservar ahora</button>
    </div>
    {% endfor %}
  </div>

  <!-- Resto del contenido de la plantilla -->
{% endblock %}

